
/*Header styles*/
header{
    background-color:blueviolet;
}

/* Navigation styles */
nav ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(218, 177, 177);
    justify-content: space-around;
}

.navigation{
    padding:0%;
}

.navigation li:first-child {
	display: block;
}S

.navigation li {
	display: none;
}

nav li{
    list-style-type: none;
    font-size: 17px;
}

nav li a{
    padding: 10px 5px;
    text-align: left;
    display:block;
    width: 100%;
    color:white;
    text-decoration: none; 
}

nav li:hover{
    background-color: pink;
    color:cadetblue
}

#logo{
    width: 50px;
    height: 50px;
}

.date{
    text-align: center;
}

.top-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1, header h3{
    margin: 0;
    padding: 0;
}


